.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test/**
test-results.txt
ui-tests/**
et-tests/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/CHANGELOG.md
node_modules/**/README.md
node_modules/**/.npmignore
node_modules/**/.gitignore
node_modules/**/package-lock.json
node_modules/**/yarn.lock
node_modules/**/.editorconfig
node_modules/**/.travis.yml
node_modules/**/.github/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/docs/**
node_modules/**/coverage/**
node_modules/**/*.d.ts.map
scripts/**
wdio.conf.js
agents.md
bun.lock
